<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783053247774-a75m4m3pql18gsfo4ikddht6viop5vri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783053247774-a75m4m3pql18gsfo4ikddht6viop5vri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783053247774-o2ive1icd1v5tmo55m4qh9r2ppu0su7b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCx-QxSsWDJHUptE01PYyaFoxsZqfUovKI</string>
	<key>GCM_SENDER_ID</key>
	<string>783053247774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstudio.universemaster.ios</string>
	<key>PROJECT_ID</key>
	<string>universe-master</string>
	<key>STORAGE_BUCKET</key>
	<string>universe-master.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783053247774:ios:7b47a0c901c36ba8eee50f</string>
	<key>DATABASE_URL</key>
	<string>https://universe-master.firebaseio.com</string>
</dict>
</plist>